@model Le6pergram.Web.Models.Picture

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    <hr />
    <dl class="dl-horizontal" style="text-align: left;">        
        <dd>
            <img src="data:image;base64,@System.Convert.ToBase64String(Model.Content)" />
        </dd>   
        <dd>
            <h4><i>@Html.DisplayFor(model => model.Description)</i></h4>
        </dd>
    </dl>
</div>
<p>
    @*@Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")*@
</p>
