@model Le6pergram.Models.ViewModels.SearchViewModel

@{
    ViewBag.Title = "Search results";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/Site.css" rel="stylesheet" type="text/css"/>

@if (Model.isAnythingFound)
{
    <h2>Search results: @ViewBag.Count</h2>
}
else
{
    <h2>No users or tags found. Try again</h2>
}

@foreach (var searchResult in Model.Users)
{
    <h4><a class="link" href="../Users/Details/@searchResult.Id">@searchResult.Username</a>
        @if (searchResult.Name != null)
        {
            <span>(@searchResult.Name)</span>
        }
        
    </h4>
}

<br />

@foreach(var searchResult in Model.Tags)
{
    <h4><a class="link"href="../Tags/Details/@searchResult.Id">#@searchResult.Name</a></h4>
}


