@model Le6pergram.Models.ViewModels.SearchViewModel

@{
    ViewBag.Title = "Search results";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{ var count = Model.Tags.Count + Model.Users.Count;}

@if (Model.isAnythingFound)
{
    <h2>Search results: @count</h2>
}
else
{
    <h2>No users or tags found. Try again</h2>
}

@foreach (var searchResult in Model.Users)
{
    <h4><a href="../Users/Details/@searchResult.Id">@searchResult.Username</a> (@searchResult.Name)</h4>
}

<br />

@foreach(var searchResult in Model.Tags)
{
    <h4><a href="../Tags/Details/@searchResult.Id">#@searchResult.Name</a></h4>
}


