@model Le6pergram.Web.Models.Tag

@{
    ViewBag.Title = "#" + Model.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<h2>Details</h2>*@

<div>
    <br />
    <h2 style="text-align: center;">#@Model.Name</h2>
    <br />
    <h4 style="text-align: center;">@Model.picturesCount posts</h4>
    <hr />
    @foreach (var pic in Model.Pictures.ToList())
    {

    }
</div>
<p>
    @*@Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")*@
</p>
