body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

#pictureDetails {
    max-height: 500px;
    max-width: 480px;
}

.navbar-inverse {
    background-color: #fff;
    border-color: rgba(8, 8, 8, 0.28);
}
.navbar-inverse .navbar-nav > li > a:hover{
    color: #000000;
}

.pictureIndex{
    background-color: #fff;
    border: 2px solid rgba(8, 8, 8, 0.25);
    width: 500px;
    margin-top: 30px;
    border-radius: 5px;
}

.pictureIndex img{
    width: inherit;
    padding:10px;
}

.userInfo {
    margin-top: 10px;
}

.userInfoIndex{
    margin-top:12px;
}

.profilePictureIndex {
    width:50px;
    height:50px ;
    border-radius:50%;
}

.commentText {
    word-wrap: break-word;
}

.link {
    text-decoration: none;
    font-weight: bold;
    color: #000;    
}

.link:hover{
    text-decoration:none;
    font-weight:bold;
    color: #585858;    
}

.commentSection {
    height: 365px;
    overflow-y: auto;
}

.userDetailsPicture {
    border: 2px solid rgba(8, 8, 8, 0.25);
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

.cover {
    object-fit: cover;
    width: 346px;
    height: 346px;
}

.heart-notification {
    margin-right: 5px;
    margin-top: 10px;
    padding: 5px;
    border: solid 1px #ffffff;
    height: 37px;
    width: 37px;
}

.dropdown
