@model List<Le6pergram.Web.Models.Picture>
@{
    ViewBag.Title = "le6pergram";
}

@if (AuthManager.GetAuthenticated() == null)
{
    <div class="jumbotron" style="text-align: center; background-color: white;">
        <img src="~/Content/le6pergram.jpg" />
        <br />
        <br />
        <p class="lead"><b>You are not logged in. Please  <a href="../Users/Create">register</a> or <a href="../Users/Login">login</a> to gain access to all our features.</b></p>
    </div>
}
else
{
    <div class="row">
        @foreach (var picture in Model)
        {
            <div class="col-md-4">
                <img src="data:image;base64,@System.Convert.ToBase64String(picture.Content)" style="max-height: 800px; max-width: 800px;" onclick="location.href='../../Pictures/Details/' + @picture.Id"/>
            </div>            
        }
    </div>
}
